<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-------------------------header------------------------------->
    <header>
      <div class="header-container">
        <div class="list-logo">
          <img src="../../../public/img/list.png" alt="logo" />
        </div>
        <div class="logo">
          <a href=""><img src="../../../public/img/logo.jpg" alt="logo" /></a>
        </div>
        <div class="menu">
          <li><a href="">TRANG CHỦ</a></li>
          <li><a href="">SẢN PHẨM</a></li>
          <li><a href="">VỀ CHÚNG TÔI</a></li>
        </div>
        <div class="icon">
          <li class="selected">
            <a href=""
              ><img
                src="../../../public/img/shopping-bag.png"
                alt="shopping-bag"
            /></a>
          </li>
          <p>(5)</p>
        </div>
      </div>
    </header>
    <div class="menu-2">
      <li><a href="">TRANG CHỦ</a></li>
      <li><a href="">SẢN PHẨM</a></li>
      <li><a href="">VỀ CHÚNG TÔI</a></li>
    </div>
    <!-------------------------pay--------------------------------->
    <div class="pay-container">
      <div class="pay-content-left">
        <p>VUI LÒNG NHẬP THÔNG TIN GIAO HÀNG</p>
        <div class="pay-content-left-input">
          <label for="">Họ và tên:</label> <br />
          <input type="text" required />
        </div>
        <div class="pay-content-left-input">
          <label for="">Số điện thoại:</label><br />
          <input type="text" required />
        </div>
        <div class="pay-content-left-input">
          <label for="">Địa chỉ:</label><br />
          <input type="text" required />
        </div>
        <div class="pay-content-left-input">
          <label for="">Email:</label><br />
          <input type="text" />
        </div>
        <div class="pay-content-left-input">
          <label for="">Ghi chú:</label><br />
          <input type="text" />
        </div>
        <div class="pay-content-left-input">
          <label for="">Hình thức thanh toán:</label><br />
          <select name="" id="">
            <option value="cash">Tiền mặt</option>
            <option value="transfer">Chuyển khoản</option>
          </select>
        </div>
        <div class="pay-content-left-button">
          <button>ĐẶT HÀNG</button>
        </div>
      </div>
      <div class="pay-content-right">
        <table>
          <tr>
            <th colspan="2">TỔNG TIỀN GIỎ HÀNG</th>
          </tr>
          <tr>
            <td>TỔNG SẢN PHẨM</td>
            <td>1</td>
          </tr>
          <tr>
            <td>THÀNH TIỀN</td>
            <td>180.000đ</td>
          </tr>
        </table>
      </div>
    </div>
    <!-------------------------tip---------------------------------->
    <div class="tip">
      <h2>Lợi ích khi ăn hoa quả</h2>
      <br />
      <p>
        " Ăn hoa quả là một phần của chế độ ăn uống lành mạnh. Ăn các loại thực
        phẩm như trái cây có hàm lượng calo thấp hơn thay vì một số thực phẩm
        khác có hàm lượng calo cao hơn có thể hữu ích trong việc giúp giảm lượng
        calo tiêu thụ, từ đó giúp người dùng kiểm soát cân nặng. Ăn một chế độ
        ăn nhiều rau và trái cây có thể làm giảm nguy cơ mắc bệnh tim, bao gồm
        đau tim và đột quỵ. Ăn một chế độ ăn nhiều rau và trái cây có thể bảo vệ
        cơ thể chống lại một số loại ung thư. Trái cây có thể giúp tăng lượng
        chất xơ và kali, là những chất dinh dưỡng quan trọng mà nhiều người dùng
        không có đủ trong chế độ ăn uống của họ. "
      </p>
    </div>
    <!-------------------------footer------------------------------->
    <footer>
      <p class="info">
        Địa chỉ: Số 50 Thái Thịnh, Đống Đa, Hà Nội <br />
        Điện thoại: 0123456789 <br />
        Email: freshfruit6789@gmail.com
      </p>

      <div class="contact">
        <a href=""
          ><img src="../../../public/img/facebook.png" alt="facebook"
        /></a>
        <a href=""
          ><img src="../../../public/img/instagram.png" alt="instagram"
        /></a>
        <a href=""
          ><img src="../../../public/img/youtube.png" alt="youtube"
        /></a>
      </div>
    </footer>
  </body>
</html>
